/* ============================================= */
/*          　　　　　  Base Style colors  　             */
/* ============================================= */

$color-primary: #fffaf2;
$color-secondary: #a9a9a9;
$color-thirdly: #3e3e3e;
$color-accent-1: #f0122d;
$color-accent-2: #f0e0d0;
$color-font-primary: #353535;

/* ============================================= */
/*                 Typography                    */
/* ============================================= */

$color-box-white: #fff;

/* ============================================= */
/*                 Typography                    */
/* ============================================= */

$font-family-primary: "Focus Grotesk", sans-serif;
$font-family-title: "Canela Text Trial", serif;

/* ============================================= */
/*                Media Queries                  */
/* ============================================= */
