*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

nav {
  margin: 20px 0;
}
header,
.main-container,
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin: 150px 0;
}

footer {
  background-color: $color-accent-2;
}

ul {
  list-style: none;
  padding: 0;
}

.hero-text {
  text-align: right;
  h1 {
    &:first-child {
      margin-bottom: 0;
    }
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}

/*===== Button =====*/
.button-1 {
  font-size: 1.5rem;
  color: $color-primary;
  background-color: $color-accent-1;
  padding: 30px 60px;
  border: 0;
}

.button-2 {
  font-size: 1rem;
  color: $color-accent-1;
  background-color: transparent;
  padding: 20px 50px;
  border: solid 1.5px $color-accent-1;
}

/*===== Services =====*/
.services-container {
  margin: 80px 0;
}
.services-card {
  width: 250px;
  background-color: $color-box-white;
  border-radius: 25% 0 0 0;
  margin-right: 50px;
  box-shadow: $color-accent-2 0 0 20px;

  h2 {
    width: 120px;
    height: 50px;
    line-height: 50px;
    background-color: $color-accent-1;
  }

  p {
    padding: 0 20px;
  }

  button {
    display: block;
    padding: 15px 30px;
    margin: 20px auto 30px;
  }
}

/*===== Stylists =====*/
.stylists-container {
  margin: 80px 0;
}
.stylists-card {
  width: 280px;
  height: 330px;
  text-align: center;
  background-color: $color-box-white;
  padding-top: 70px;
  margin: 10px;
  box-shadow: $color-accent-2 0 0 20px;
}

/*===== Quotes =====*/
.quotes-container {
  width: 1000px;
  margin: 0 auto;
}

/*===== Gallery =====*/
.gallery {
  margin-top: 200px 0 100px;
}

.gallery-img-container,
.gallery-button-container {
  text-align: center;
  margin: 50px 0;
}

/*===== Footer =====*/
// reset css
hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.hr-footer {
  border-top: solid 2px $color-accent-1;
}

.fa-brands {
  padding-right: 5px;
}

.footer-content {
  padding: 90px 0;
}

.footer-credit {
  padding-top: 15px;
  padding-bottom: 15px;
}
